In [1]:
import pandas as pd

In [2]:
pwd

'/usr/src/app/datascience_tut/100-machine_learning_tutorial/basics/001-pandas'

In [4]:
df = pd.read_csv('example')

In [5]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
df.to_csv('My_output')

In [7]:
pd.read_csv('My_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [8]:
df.to_csv('My_output', index=False)

In [9]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15